<h1><%= @customer.last_name %><%= @customer.first_name %>さんの会員情報編集</h1>

<p>会員ID : <%= @customer.id %></p>
<%= form_with model: @customer, url: admin_customer_path(@customer), method: :patch do |f| %>

  <p>氏名</p>
  <div class="field">
    <%= f.text_field :last_name %>
    <%= f.text_field :first_name %>
  </div>
  
  <p>フリガナ</p>
  <div class="field">
    <%= f.text_field :last_name_kana %>
    <%= f.text_field :first_name_kana %>
  </div>
  
  <div class="field">
    <%= f.label :postal_code, "郵便番号" %>
    <%= f.text_field :postal_code %>
  </div>
  
  <div class="field">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address %>
  </div>
  
  <div class="field">
    <%= f.label :telephone_number, "電話番号" %>
    <%= f.text_field :telephone_number %>
  </div>
  
  <div class="field">
    <%= f.label :email, "メールアドレス" %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <p>会員ステータス</p>
  <%= f.radio_button :is_active, "true" %>
  <%= f.label :is_active_true, "有効" %>
  <%= f.radio_button :is_active, "false" %>
  <%= f.label :is_active_false, "退会" %>
  <%= f.submit '変更を保存', class:"btn btn-success" %>
<% end %>
