<div class="container pt-5">
  <h1>注文履歴詳細</h1>
  <div class="row">
    <div class="col-6">
      <h2>注文情報</h2>
      <table class="table">
        <tr><th class="table-dark">注文日</th><td><%= @order.created_at.strftime("%Y/%m/%d %H:%M:%S") %></td></tr>
        <tr>
          <th class="table-dark">配送先</th>
          <td>
            <%= @order.postal_code %></br>
            <%= @order.address %></br>
            <%= @order.name %>
          </td>
        </tr>
        <tr><th class="table-dark">支払方法</th><td><%= @order.payment_method_i18n %></td></tr>
      </table>
    </div>
    <div class="col-3">
      <h2>請求情報</h2>
      <table class="table">
        <tr><th class="table-dark">商品合計</th><td><%= @order.total_payment - @order.postage %></td></tr>
        <tr><th class="table-dark">配送料</th><td><%= @order.postage %></td></tr>
        <tr><th class="table-dark">ご請求額</th><td><%= @order.total_payment %></td></tr>
      </table>
    </div>
  </div>
  <div class="row col-7">
    <h2>注文内容</h2>
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th>商品</th>
            <th>単価(税込)</th>
            <th>個数</th>
            <th>小計</th>
          </tr>
        </thead>
        <tbody>
          <% @order_details.each do |order_detail| %>
          <tr>
            <td><%= order_detail.item.name %></td>
            <td><%= order_detail.price %></td>
            <td><%= order_detail.amount %></td>
            <td><%= order_detail.subtotal %></td>
          </tr>
          <% end %>
        </tbody>
    </table>
  </div>
</div>















