<div class="container">
  <div class="row pt-5">
    <h1 class="pt-5">商品一覧</h1><h3 class="pt-5">(全<%= @item_count %>件)</h3>
  </div>
  <div class="row pt-5">
    <% @items.each do |item| %>
    <div class="col-md-3">
      <%= link_to(public_item_path(item.id), class:"text-secondary") do %>
        <%= image_tag item.get_image, width: 250, height: 200 %></br>
        <%= item.name %>
        <p>￥<%= item.price %></p>
      <% end %>
    </div>
    <% end %>
  </div>
  <%= paginate @items, per: 8 %>
</div>